interface={{ entry_split_dns_interface }}
listen-address={{ entry_split_dns_listen_address }}
bind-interfaces
domain-needed
bogus-priv
no-resolv
cache-size=1000
filter-AAAA

{% for upstream in entry_split_dns_upstreams %}
server={{ upstream }}
{% endfor %}
