table inet entry_split {
  set admin4 {
    type ipv4_addr
    flags interval
    elements = { {% if entry_split_allow_world_ssh %}0.0.0.0/0{% else %}{{ entry_split_admin_ipv4_cidrs | join(', ') }}{% endif %} }
  }

  set ru4 {
    type ipv4_addr
    flags interval
{% if entry_split_ru_ipv4_cidrs | length > 0 %}
    elements = { {{ entry_split_ru_ipv4_cidrs | join(', ') }} }
{% endif %}
  }

  set bypass4 {
    type ipv4_addr
    flags interval
    elements = { {{ entry_split_bypass_ipv4_cidrs | join(', ') }} }
  }

  chain input {
    type filter hook input priority filter; policy drop;
    iifname "lo" accept
    ct state invalid drop
    ct state established,related accept
    ip saddr @admin4 tcp dport {{ entry_split_ssh_port }} counter accept
    udp dport {{ entry_split_wg_client_listen_port }} counter accept
    ip saddr {{ entry_split_exit_public_ipv4 }} udp dport {{ entry_split_wg_transit_listen_port }} counter accept
{% if entry_split_dns_enabled %}
    iifname "{{ entry_split_wg_client_interface }}" ip saddr {{ entry_split_client_cidr }} udp dport 53 counter accept
    iifname "{{ entry_split_wg_client_interface }}" ip saddr {{ entry_split_client_cidr }} tcp dport 53 counter accept
{% endif %}
    ip protocol icmp icmp type { destination-unreachable, time-exceeded, parameter-problem, echo-request } limit rate 10/second accept
  }

  chain mark_client_traffic {
    type filter hook prerouting priority mangle; policy accept;
    iifname "{{ entry_split_wg_client_interface }}" ip saddr {{ entry_split_client_cidr }} ip daddr != @ru4 ip daddr != @bypass4 counter meta mark set {{ entry_split_policy_fwmark }}
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
    ct state invalid drop
    ct state established,related accept
    iifname "{{ entry_split_wg_client_interface }}" oifname "{{ entry_split_public_interface }}" ip saddr {{ entry_split_client_cidr }} ip daddr @ru4 counter accept
    iifname "{{ entry_split_wg_client_interface }}" oifname "{{ entry_split_public_interface }}" ip saddr {{ entry_split_client_cidr }} ip daddr @bypass4 counter accept
    iifname "{{ entry_split_wg_client_interface }}" oifname "{{ entry_split_wg_transit_interface }}" ip saddr {{ entry_split_client_cidr }} meta mark {{ entry_split_policy_fwmark }} counter accept
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
    oifname "{{ entry_split_public_interface }}" ip saddr {{ entry_split_client_cidr }} ip daddr @ru4 counter masquerade
    oifname "{{ entry_split_public_interface }}" ip saddr {{ entry_split_client_cidr }} ip daddr @bypass4 counter masquerade
  }
}
