table inet yandex_edge {
  set ru4 {
    type ipv4_addr
    flags interval
{% if yandex_edge_ru_ipv4_cidrs | length > 0 %}
    elements = {
{% for cidr in yandex_edge_ru_ipv4_cidrs %}
      {{ cidr }}{% if not loop.last %},{% endif %}
{% endfor %}
    }
{% endif %}
  }

  set bypass4 {
    type ipv4_addr
    flags interval
    elements = {
{% for cidr in yandex_edge_bypass_ipv4_cidrs %}
      {{ cidr }}{% if not loop.last %},{% endif %}
{% endfor %}
    }
  }

  chain input {
    type filter hook input priority filter; policy accept;

    udp dport { {{ yandex_edge_wg_client_listen_port }}, {{ yandex_edge_wg_transit_listen_port }} } accept
  }

  chain mark_client_traffic {
    type filter hook prerouting priority mangle; policy accept;

    iifname "{{ yandex_edge_wg_client_interface }}" ip saddr {{ yandex_edge_client_cidr }} ip daddr != @ru4 ip daddr != @bypass4 meta mark set {{ yandex_edge_policy_fwmark }}
  }

  chain forward {
    type filter hook forward priority filter; policy accept;

    iifname "{{ yandex_edge_wg_client_interface }}" oifname "{{ yandex_edge_public_interface }}" ip saddr {{ yandex_edge_client_cidr }} accept
    iifname "{{ yandex_edge_wg_client_interface }}" oifname "{{ yandex_edge_wg_transit_interface }}" ip saddr {{ yandex_edge_client_cidr }} meta mark {{ yandex_edge_policy_fwmark }} accept
    iifname "{{ yandex_edge_public_interface }}" oifname "{{ yandex_edge_wg_client_interface }}" ip daddr {{ yandex_edge_client_cidr }} ct state established,related accept
    iifname "{{ yandex_edge_wg_transit_interface }}" oifname "{{ yandex_edge_wg_client_interface }}" ip daddr {{ yandex_edge_client_cidr }} ct state established,related accept
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;

    oifname "{{ yandex_edge_public_interface }}" ip saddr {{ yandex_edge_client_cidr }} masquerade
  }
}
