#!/usr/sbin/nft -f
flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy accept;
    udp dport { {{ entry_full_wg_client_listen_port }}, {{ entry_full_wg_transit_listen_port }} } counter accept
  }

  chain forward {
    type filter hook forward priority filter; policy accept;
    iifname "{{ entry_full_wg_client_interface }}" oifname "{{ entry_full_wg_transit_interface }}" ip saddr {{ entry_full_client_cidr }} counter accept
    iifname "{{ entry_full_wg_transit_interface }}" oifname "{{ entry_full_wg_client_interface }}" ip daddr {{ entry_full_client_cidr }} ct state established,related counter accept
  }
}
