table inet exit_entry_full {
  chain input {
    type filter hook input priority filter; policy accept;

    udp dport {{ exit_entry_full_wg_listen_port }} counter accept
  }

  chain forward {
    type filter hook forward priority filter; policy accept;

    iifname "{{ exit_entry_full_wg_interface }}" oifname "{{ exit_public_interface }}" ip saddr {{ exit_entry_full_client_cidr }} counter accept
    iifname "{{ exit_public_interface }}" oifname "{{ exit_entry_full_wg_interface }}" ip daddr {{ exit_entry_full_client_cidr }} ct state established,related counter accept
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;

    oifname "{{ exit_public_interface }}" ip saddr {{ exit_entry_full_client_cidr }} counter masquerade
  }
}
