table inet racknerd_exit {
  chain input {
    type filter hook input priority filter; policy accept;

    udp dport {{ racknerd_exit_wg_transit_listen_port }} accept
  }

  chain forward {
    type filter hook forward priority filter; policy accept;

    iifname "{{ racknerd_exit_wg_transit_interface }}" oifname "{{ racknerd_exit_public_interface }}" ip saddr {{ racknerd_exit_client_cidr }} accept
    iifname "{{ racknerd_exit_public_interface }}" oifname "{{ racknerd_exit_wg_transit_interface }}" ip daddr {{ racknerd_exit_client_cidr }} ct state established,related accept
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;

    oifname "{{ racknerd_exit_public_interface }}" ip saddr {{ racknerd_exit_client_cidr }} masquerade
  }
}
